<ion-header>
  <ion-toolbar color="color">
    <ion-buttons slot="start">
      <ion-back-button color="dark" defaultHref="/propiedades">
      </ion-back-button>
    </ion-buttons>
    <ion-title color="dark">{{propiedades?.ubicacion}}</ion-title>
    <ion-buttons slot="end">
      <ion-button color="danger" (click)="deletePlace()">
        <ion-icon name="trash"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-item color="colordos">
      <ion-icon color="secondary"name="location-outline"></ion-icon>
      &nbsp;
        <h2 class="texto" text-wrap><b>Ubicacion:</b> {{propiedades?.ubicacion}}</h2>
    </ion-item>

    <ion-item color="color" *ngIf="propiedades?.estado == 'Disponible'">
      <ion-label color="dark" text-wrap>
     <h1 class="texto"><b>Estado:</b> {{propiedades?.estado}}</h1>
      </ion-label>
    </ion-item>

    <ion-item color="color" *ngIf="propiedades?.estado == 'En alquiler'">
      <ion-label color="dark" text-wrap>
        <h1 class="texto"><b>Estado:</b> {{propiedades?.estado}}</h1>
      <ion-button slot="end" color="colortres" (click)="gotoAlquileres()">
        <ion-icon color="light"name="reader-outline"></ion-icon>
      </ion-button>
    </ion-label>
    </ion-item>

    <ion-item color="colordos">
      <ion-label color="dark" text-wrap>
        <h1 class="texto"><b>Tipo de propiedad:</b> {{propiedades?.tipo}}</h1>
      </ion-label>
    </ion-item>

    <ion-item color="color">
      <ion-label color="dark" text-wrap>
        <h1 class="texto"><b>Locador:</b> {{locador?.nombre}} {{locador?.apellido}}</h1>
      </ion-label>
    </ion-item>

    <ion-item color="colordos" *ngIf="propiedades?.inventario != ''">
      <ion-label color="dark" text-wrap>
        <h1 class="texto"><b>Inventario:</b> {{propiedades?.inventario}}</h1>
      </ion-label>
    </ion-item>

    <ion-item color="colordos" *ngIf="propiedades?.inventario == ''">
      <ion-label color="dark" text-wrap>
        <h1 class="texto"><b>Inventario:</b> No se registraron datos</h1>
      </ion-label>
    </ion-item>
    <br>
    <ion-item color="color">
      <ion-label  color="dark"><h1 class="texto"><b>Interior</b></h1></ion-label>
    </ion-item>
    <ion-item color="colordos" *ngIf="propiedades?.imagen">
      <ion-label color="dark"><h1 class="texto">Imagen:
        <br>
        <img src="{{propiedades?.imagen}}"></h1></ion-label>
       </ion-item>
       <ion-item color="colordos" *ngIf="propiedades?.imagen == null">
   <ion-text color="dark">No se ha encontrado ninguna imagen</ion-text>
         </ion-item>
         <br>
    <ion-item color="colordos" *ngIf="propiedades?.imagen2">
      <ion-label color="dark"><h1 class="texto">Imagen 2:
        <br>
        <img src="{{propiedades?.imagen2}}"></h1></ion-label>
       </ion-item>
  
         <br>
         <ion-item color="color">
          <ion-label  color="dark"><h1 class="texto"><b>Exterior</b></h1></ion-label>
        </ion-item>
    <ion-item color="colordos" *ngIf="propiedades?.imagen3">
      <ion-label color="dark"><h1 class="texto">Imagen:
        <br>
        <img src="{{propiedades?.imagen3}}"></h1></ion-label>
       </ion-item>
       <ion-item color="colordos" *ngIf="propiedades?.imagen3 == null">
   <ion-text color="dark">No se ha encontrado ninguna imagen</ion-text>
         </ion-item>
         <br>
    <ion-item color="colordos" *ngIf="propiedades?.imagen4">
      <ion-label color="dark"><h1 class="texto">Imagen 2:
        <br>
        <img src="{{propiedades?.imagen4}}"></h1></ion-label>
       </ion-item>

  </ion-card>
   
</ion-content>
