
<ion-menu side="start" menuId="first" contentId="main">
    <ion-header>
      <ion-toolbar color="colortres">
          <ion-title>Menu</ion-title>
            <ion-menu-button slot="end" size="small" type="button" color="danger" (click)="logout()"><ion-icon name="exit-outline"></ion-icon>
            </ion-menu-button>
      </ion-toolbar>
    </ion-header>
  
    <ion-content>
   
        <ion-menu-toggle>
          <ion-item color="colordos" [routerLink]="['/locadores']"><ion-icon name="person-outline" color="dark" ></ion-icon><pre>  </pre><p class="texto">Locadores</p> </ion-item>
          <ion-item color="color" [routerLink]="['/inquilinos']"><ion-icon name="person-outline" color="dark"></ion-icon><pre>  </pre><p class="texto">Inquilinos</p></ion-item>
          <ion-item color="colordos" [routerLink]="['/garantes']"><ion-icon name="person-outline" color="dark"></ion-icon><pre>  </pre><p class="texto">Garantes</p></ion-item>
          <ion-item color="color" [routerLink]="['/propiedades']"><ion-icon name="home-outline" color="dark"></ion-icon><pre>  </pre><p class="texto">Propiedades</p></ion-item>
          <ion-item color="colordos" [routerLink]="['/contratos']"><ion-icon name="reader-outline" color="dark"></ion-icon><pre>  </pre><p class="texto">Contratos</p></ion-item>
          <ion-item color="color" [routerLink]="['/proveedores']"><ion-icon name="person-outline" color="dark"></ion-icon><pre>  </pre><p class="texto">Proveedores</p></ion-item>
          
        </ion-menu-toggle>
    
    </ion-content>
  </ion-menu>