<ion-header>
  <ion-toolbar color="colortres">
    <ion-title>Bienvenido</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="toggleMenu()">
        <ion-icon slot="icon-only" name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card (click)="detalle_caja()">
    <ion-card-header>
      <br>
      <ion-card-title align="center" color="light">Detalle de caja</ion-card-title>
    </ion-card-header>
    <br>
    <ion-card-content align="center">
     Historial de todos los pagos y gastos realizados
    </ion-card-content>

  </ion-card>
  <ion-card (click)="lista_alquileres()">
    <ion-card-header>
      <br>
      <ion-card-title align="center" color="light">Lista de alquileres</ion-card-title>
    </ion-card-header>
    <br>
    <ion-card-content align="center">
     Listado de alquieres pagados, pendientes y a vencer.
    </ion-card-content>
  </ion-card>

  <ion-card (click)="reportes()">
    <ion-card-header>
      <br>
      <ion-card-title align="center" color="light">Reportes</ion-card-title>
    </ion-card-header>
    <br>
    <ion-card-content align="center">
      Informe de daños o cualquier tipo de casos a solventar
    </ion-card-content>
  </ion-card>

  
  <ion-card (click)="avisos()">
    <ion-card-header>
      <br>
      <ion-card-title align="center" color="light">Avisos</ion-card-title>
    </ion-card-header>
    <br>
    <ion-card-content align="center">
      Mensaje para notificar a cualquier contacto registrado en su cuenta
    </ion-card-content>
  </ion-card>
</ion-content>
